input{
    height: 35px;
    border-color: rgb(224, 9, 9);
}

button{
    background-color: blue;
    color: white;
    height: 35px;
    margin-left: 145px;
    ;
}

button:hover{
    background-color: white;
    color: blue;
}

h1, h2{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin-top: 80px;
    margin-left: 550px;
}